.container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
   height: 540px;
   width: 413px;
   background-color: #F9F9FE;
   border-radius: 8px;
   left: 434px;
   top: 84px;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.button{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    height: 120px;
}

.forgotLink {
    font-size: 14px;
    line-height: 1.2;
    text-decoration: none;
    color: #232480;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 2%;
}

.singLink{
    color: #232480;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.showHidePassword {
    position: relative;
    bottom: 50px;
    left: 155px;
    width: 50px;
    cursor: pointer;
    font-size: 1.5em;
}