.container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
   height: 540px;
   width: 413px;
   background-color: #F9F9FE;
   border-radius: 8px;
   left: 434px;
   top: 84px;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.button{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    height: 120px;
}