.iconBg{
    display: flex;
    justify-content: center;
    align-items: center;
  
    margin: 20% auto;
  
    height: 108px;
    width: 108px;
  
    background-color: rgb(203, 203, 243);
    border-radius: 50%
}



.caption{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 20px;
}
.text{
    display: flex;
    justify-content: center;
    align-items: center;
}

